<section class="tiles">

{% for post in site.posts limit:site.front-page-posts %}
	<article class="style{{ forloop.index0 | plus:1 }}">
		<span class="image fit">
			{% if post.featured-image %}
				<img src = "{{ site.url }}{{ site.baseurl }}{{ post.featured-image }}"/>
			{% else %}
				<img src="{{ site.url }}{{ site.baseurl }}/images/pic01.jpg" alt="" />
			{% endif %}
		</span>
		<a href="{{ post.url | prepend:site.baseurl | prepend:site.url }}">
			<h2>{{ post.title }}</h2>
		</a>
	</article>
{% endfor %}

</section>
